In [1]:
import sqlite3
import pandas as pd
import os

# Delete the existing database file
if os.path.exists('library.db'):
    os.remove('library.db')
    print("Deleted existing library.db")

with sqlite3.connect('library.db') as conn:
    cursor = conn.cursor()

    # authors
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS authors (
        author_id INTEGER PRIMARY KEY,
        name TEXT NOT NULL
    )
    ''')

    cursor.execute('''
    INSERT INTO authors (name)
    VALUES ('Jane Austen'), ('J.R.R. Tolkien'), ('J.K. Rowling'), ('N.T. Wright')
    ''')

    # genres
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS genres (
        genre_id INTEGER PRIMARY KEY,
        genre_name TEXT NOT NULL
    )
    ''')

    cursor.execute('''
    INSERT INTO genres (genre_name)
    VALUES ('historical fiction'), ('fantasy'), ('theology')
    ''')

    # books
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        book_id INTEGER PRIMARY KEY,
        title TEXT NOT NULL,
        author_id INTEGER,
        genre_id INTEGER,
        year_published INTEGER,
        FOREIGN KEY (author_id) REFERENCES authors(author_id),
        FOREIGN KEY (genre_id) REFERENCES genres(genre_id)
    )
    ''')

    cursor.execute("INSERT INTO books (title, author_id, genre_id, year_published) VALUES (?, ?, ?, ?)", 
                  ("Pride and Prejudice", 1, 1, 1813))

    cursor.execute("INSERT INTO books (title, author_id, genre_id, year_published) VALUES (?, ?, ?, ?)", 
                  ("The Fellowship of the Ring", 2, 2, 1954))

    cursor.execute("INSERT INTO books (title, author_id, genre_id, year_published) VALUES (?, ?, ?, ?)", 
                  ("The Two Towers", 2, 2, 1954))

    cursor.execute("INSERT INTO books (title, author_id, genre_id, year_published) VALUES (?, ?, ?, ?)", 
                  ("The Return of the King", 2, 2, 1955))

    cursor.execute("INSERT INTO books (title, author_id, genre_id, year_published) VALUES (?, ?, ?, ?)", 
                  ("Harry Potter and the Philosopher's Stone", 3, 2, 1997))

    cursor.execute("INSERT INTO books (title, author_id, genre_id, year_published) VALUES (?, ?, ?, ?)", 
                  ("Surprised by Scripture", 4, 3, 2015))

    cursor.execute("INSERT INTO books (title, author_id, genre_id, year_published) VALUES (?, ?, ?, ?)", 
                  ("How God Became King", 4, 3, 2012))
    
    conn.commit()

Deleted existing library.db