In [2]:
import sqlite3
import pandas as pd
import os

conn = sqlite3.connect('library.db')
cursor = conn.cursor()

df_authors = pd.read_sql_query("SELECT * FROM authors", conn)
df_genres = pd.read_sql_query("SELECT * FROM genres", conn)
df_books = pd.read_sql_query("SELECT * FROM books", conn)
print(df_authors.head())
print(df_genres.head())
print(df_books.head(10))

cursor.execute("SELECT name FROM sqlite_master WHERE type ='table';")
tables = cursor.fetchall()
print("Tables:", tables)

df_all = pd.read_sql_query('''SELECT b.book_id, b.title AS Title, a.name AS Author, g.genre_name AS Genre FROM books b LEFT JOIN authors a ON a.author_id = b.author_id LEFT JOIN genres g ON g.genre_id = b.genre_id''', conn)
print(df_all.head(10))

conn.close()

   author_id            name
0          1     Jane Austen
1          2  J.R.R. Tolkien
2          3    J.K. Rowling
3          4     N.T. Wright
   genre_id          genre_name
0         1  historical fiction
1         2             fantasy
2         3            theology
   book_id                                     title  author_id  genre_id  \
0        1                       Pride and Prejudice          1         1
1        2                The Fellowship of the Ring          2         2
2        3                            The Two Towers          2         2
3        4                    The Return of the King          2         2
4        5  Harry Potter and the Philosopher's Stone          3         2
5        6                    Surprised by Scripture          4         3
6        7                       How God Became King          4         3

   year_published
0            1813
1            1954
2            1954
3            1955
4            1997
5            2015
6            2012
Tables: [('authors',), ('genres',), ('books',)]
   book_id                                     Title          Author  \
0        1                       Pride and Prejudice     Jane Austen
1        2                The Fellowship of the Ring  J.R.R. Tolkien
2        3                            The Two Towers  J.R.R. Tolkien
3        4                    The Return of the King  J.R.R. Tolkien
4        5  Harry Potter and the Philosopher's Stone    J.K. Rowling
5        6                    Surprised by Scripture     N.T. Wright
6        7                       How God Became King     N.T. Wright

                Genre
0  historical fiction
1             fantasy
2             fantasy
3             fantasy
4             fantasy
5            theology
6            theology